@using Company.Route.PL.ViewModels
@model EmployeeViewModel


@{
    var departments = new SelectList(ViewData["Departments"] as IEnumerable<Department>, "Id", "Name");
}
<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Age" class="col-form-label"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address" class="col-form-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Salary" class="col-form-label"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="WorkFor" class="col-form-label"></label>
    <select asp-for="WorkForId" asp-items="departments" class="form-control">
        <option value="@null" >
            -- Select Department --
        </option>

    </select>
</div>
<div class="form-group">
    <label asp-for="isActive" class="form-check"></label>
    <input asp-for="isActive" class="form-check" />
    <span asp-validation-for="isActive" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="HiringDate" class="col-form-label"></label>
    <input asp-for="HiringDate" class="form-control" />
    <span asp-validation-for="HiringDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DateOfCreation" class="col-form-label"></label>
    <input asp-for="DateOfCreation" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="isDeleted" class="form-check"></label>
    <input asp-for="isDeleted" class="form-check" />
    <span asp-validation-for="isDeleted" class="text-danger"></span>
</div>
