@using Company.Route.PL.ViewModels
@model EmployeeViewModel



@{
    ViewData["Title"] = "Update";
}

<h1>Edit Employee Page</h1>

<br />
<br />

<form asp-action="Update">
    
    <partial name="PartialViews/UpdateCreateEmployeePartialView" model="Model" />

    <br />
    <br />
    <input type="submit" value="Save Changes" class="btn btn-warning" />
    <a class="btn btn-light" asp-action="Index">Back To Employees List</a>
</form>

@*make sure of the data before send to server by request . if the data is invalid wont send to server ..
this step is very important to make sure to limit the number of the requests that sent to server to reduce the compressive on it..
this setion is identify in _layout.cshtml after the JQuery script and in the >>  @await RenderSectionAsync("JQueryV", required: false) *@
@section JQueryV {
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}