@using Company.Route.PL.ViewModels
@model RoleViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Role</h1>

<form asp-action="Delete">
    <partial name="RolePartialViews/DeleteDetailsRolePartialView" model="Model" />
    <br />
    <input type="submit" value="Confirm Delete" class="btn btn-danger" />
    @Html.ActionLink("Edit", "Update", new { id = Model.Id }, new { @class = "btn btn-warning" })
    <a class="btn btn-light" asp-action="Index">Back to Roles list</a>
</form>
