
@model Department


@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department</h1>

<form asp-action="Delete">
    

    <partial name="PartialViews/DeleteDetailsDepartmentPartialView" model="Model" />
    <br />
    <br />
    <input type="submit" value="Confirm Delete" class="btn btn-danger" />
    @Html.ActionLink("Edit", "Update", new { id = Model.Id }, new { @class = "btn btn-warning" })



    <a class="btn btn-light" asp-action="Index">Back to Departments list</a>
</form>
