@using Company.Route.PL.ViewModels
@model DepartmentViewModel


@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>

<div>
    
    <partial name="PartialViews/DeleteDetailsDepartmentPartialView" model="Model" />

    <br />
    <br />
    @Html.ActionLink("Edit Department", "Update", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Delete Department", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    <a class="btn btn-light" asp-action="Index">Back to list</a>
</div>
