 
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}

<h1>CheckYourInbox</h1>

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
	<div class="agileits-top">

		<div>
			<p>
				Reset Password Link Has Been Sent To Your Email, Plwase Check Your Email's Inbox!
			</p>
			<br />
			<p><a asp-action="SignIn">LogIn !</a></p>

		</div>
	</div>
</div>