@using Company.Route.PL.ViewModels
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}

<h1>ResetPassword</h1>

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword" method="post">
			<input type="password" asp-for="Password" placeholder="Password">
			<input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
			
			<input type="submit" value="Reset Password">
		</form>
		<br />
		<p><a asp-action="SignIn">Log In</a></p>
	</div>
</div>