@using Company.Route.PL.ViewModels
@model UserViewModel

<div class="form-group">
    <label asp-for="Id" class="col-form-label"></label>
    <input asp-for="Id" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="FirstName" class="col-form-label"></label>
    <input asp-for="FirstName" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="LastName" class="col-form-label"></label>
    <input asp-for="LastName" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>

